[Desktop Entry]
Encoding=UTF-8
Name=ChaosCoin
Comment=ChaosCoin P2P Cryptocurrency
Exec=chaoscoin-qt %u
Terminal=false
Type=Application
Icon=chaoscoin128
MimeType=x-scheme-handler/chaoscoin;
Categories=Office;Finance;
Name[en_US]=chaoscoin-qt.desktop
